#!/usr/bin/make -f
# -*- mode:makefile -*-
##### Author: Travis Cross <tc@traviscross.com>

#export DH_VERBOSE=1

#### vars

DESTDIR ?= debian/tmp/usr/share/freeswitch/sounds
spath := __PATH__
srate := __RATE__
ver := __VERSION__
pkg := __PKG_NAME__

all: binary

#### build sounds

sdirs := $(wildcard $(spath)/*)
swavs:= $(foreach dir,$(sdirs),$(wildcard $(dir)/*.wav))
ddirs := $(addprefix $(DESTDIR)/,$(sdirs))
dwavs := $(addprefix $(DESTDIR)/,$(swavs))
dflacs := $(patsubst %.wav,%.flac,$(dwavs))

define defdir
$(1):
	mkdir -p $$@
endef

define defwav
$(DESTDIR)/$(1): $(1) $(DESTDIR)/$(dir $(1))
	sox $$< -c1 -b16 -r48000 -e signed-integer $$@
endef

define defflac
$(patsubst %.wav,%.flac,$(1)): $(1)
	flac -f -o $$@ -s --lax --delete-input-file -8 $$<
endef

$(foreach dir,$(ddirs),$(eval $(call defdir,$(dir))))
$(foreach wav,$(swavs),$(eval $(call defwav,$(wav))))
$(foreach wav,$(dwavs),$(eval $(call defflac,$(wav))))

#### debian

binary: binary-indep
binary-arch:
binary-indep: build-indep
	dh_testdir -i
	dh_testroot -i
	dh_installdirs -i
	dh_install -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_lintian -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

build: build-indep
build-arch:
build-indep: $(dflacs)

get-orig-source:
	$(eval tmpdir := $(shell mktemp -d --tmpdir=.))
	wget -O $(tmpdir)/upstream.tgz "http://files.freeswitch.org/$(pkg)-$(srate)-$(ver).tar.gz"
	mkdir -p $(tmpdir)/$(pkg)-$(ver)
	tar -x -C $(tmpdir)/$(pkg)-$(ver) -f $(tmpdir)/upstream.tgz
	for x in $(tmpdir)/$(pkg)-$(ver)/*/*/*/*; do for y in $$x/*; do mv $$y/* $$x; rmdir $$y; done; done
	tar -c -C $(tmpdir) -f $(pkg)_$(ver).orig.tar $(pkg)-$(ver)
	xz -9ev $(pkg)_$(ver).orig.tar
	rm -rf $(tmpdir)

clean:
	dh_testdir
	dh_clean

